<section class="menuNav" [class.active]="isActive">
  <div class="navLinks fontSyne">
    <a (click)="triggerCloseNavMenu()" href="#aboutMe">About me</a>
    <a (click)="triggerCloseNavMenu()" href="#skills">My skills</a>
    <a (click)="triggerCloseNavMenu()" href="#portfolio">Portfolio</a>
  </div>
  <footer>
    <div class="maxW1440 footerContent">
      <div class="textContainer">
        <h2>Say Hi!</h2>
        <a class="fontOverpass" href="#">marcel.luwinski&#64;gmail.com</a>
      </div>
      <div class="socialLinks">
        <a href="#"
          ><img src="../../../../../assets/img/icons/social/github.png"
        /></a>
        <a href="#"
          ><img src="../../../../../assets/img/icons/social/linkedin.png"
        /></a>
        <a href="#"
          ><img src="../../../../../assets/img/icons/social/mail_icon.png"
        /></a>
      </div>
    </div>
  </footer>
</section>
