<section class="menuNav" [class.active]="isActive">
  <div class="navLinks fontSyne">
    <a (click)="triggerCloseNavMenu()" href="portfolio-page/#aboutMe"
      >{{ 'navAbMe' | translate }}</a
    >
    <a (click)="triggerCloseNavMenu()" href="portfolio-page/#skills"
      >{{ 'navSkills' | translate }}</a
    >
    <a (click)="triggerCloseNavMenu()" href="portfolio-page/#portfolio"
      >Portfolio</a
    >
  </div>
  <footer>
    <div class="maxW1440 footerContent">
      <div class="textContainer">
        <a
          class="linkH2"
          (click)="triggerCloseNavMenu()"
          href="portfolio-page/#contact"
          ><h2>{{ 'footerGreeting' | translate }}</h2></a
        >
        <a class="fontOverpass linkMail" href="mailto:marcel.luwinski@gmail.com"
          >marcel.luwinski&#64;gmail.com</a
        >
      </div>
      <div class="socialLinks">
        <a target="_blank" href="https://github.com/Kytez"
          ><img src="../../../../../assets/img/icons/social/github.png"
        /></a>
        <a
          target="_blank"
          href="https://linkedin.com/in/marcel-luwinski-98874b253"
          ><img src="../../../../../assets/img/icons/social/linkedin.png"
        /></a>
        <a target="_blank" href="mailto:marcel.luwinski@gmail.com"
          ><img src="../../../../../assets/img/icons/social/mail_icon.png"
        /></a>
      </div>
    </div>
  </footer>
</section>
