<section class="menuNav" [class.active]="isActive">
  <div class="navLinks fontSyne">
    <a (click)="triggerCloseNavMenu()" href="#aboutMe">About me</a>
    <a (click)="triggerCloseNavMenu()" href="#skills">My skills</a>
    <a (click)="triggerCloseNavMenu()" href="#portfolio">Portfolio</a>
  </div>
  <footer>
    <div class="maxW1440 footerContent">
      <div class="textContainer">
        <a (click)="triggerCloseNavMenu()" href="#contact"><h2>Say Hi!</h2></a>
        <a class="fontOverpass" href="mailto:marcel.luwinski@gmail.com">marcel.luwinski&#64;gmail.com</a>
      </div>
      <div class="socialLinks">
        <a target="_blank" href="https://github.com/Kytez"
          ><img src="../../../../../assets/img/icons/social/github.png"
        /></a>
        <a target="_blank" href="https://linkedin.com/in/marcel-luwinski-98874b253"
          ><img src="../../../../../assets/img/icons/social/linkedin.png"
        /></a>
        <a target="_blank" href="mailto:marcel.luwinski@gmail.com"
          ><img src="../../../../../assets/img/icons/social/mail_icon.png"
        /></a>
      </div>
    </div>
  </footer>
</section>
