<section>
  <div class="maxW1440">
    <h2>{{ 'HLAbMe' | translate }}</h2>

    <div class="textAndImg">
      <div class="text">
        <p>
          Hi! My name is Marcel - I am a Frontend Developer based in Gevelsberg,
          Germany.<br />
          I help companies and designers to bring their ideas to real life.
          Creativity and logical thinking are skills that I have developed to
          connect ideas into quality products.<br /><br />
          I am currently rounding off my skills in web development by also
          completing my backend training to become a Fullstack Developer.<br /><br />
          If you think I would be a good match for your company or projects, contact me!
        </p>
        <div class="buttonBox">
          <a href="portfolio-page/#contact" class="btn">Get in touch</a>
        </div>
      </div>

      <div class="imgContainer">
        <img src="../../../assets/img/Bew_03_stuhl_cutted.JPG" />
        <div #imgFrame class="hoverFrame"></div>
      </div>
    </div>

    <div class="arrowImgContainer">
      <div class="arrowImgBox">
        <img #arrowImg src="../../../assets/img/arrow_left/arrow_left_3.png" />
      </div>
    </div>
  </div>
</section>
