<section>
  <div class="maxW1440">
    <h2>{{ 'HLAbMe' | translate }}</h2>

    <div class="textAndImg">
      <div class="text">
        <p>
          {{ 'AbMeTxtP1' | translate }}<br><br>
          {{ 'AbMeTxtP2' | translate }}<br><br>
          {{ 'AbMeTxtP3' | translate }}<br><br>
          {{ 'AbMeTxtP4' | translate }}
        </p>
        <div class="buttonBox">
          <a href="portfolio-page/#contact" class="abMeBtn btn">{{ 'ATFBtn' | translate }}</a>
        </div>
      </div>

      <div class="imgContainer">
        <img src="../../../assets/img/Bew_03_stuhl_cutted.JPG" />
        <div #imgFrame class="hoverFrame"></div>
      </div>
    </div>

    <div class="arrowImgContainer">
      <div class="arrowImgBox">
        <img #arrowImg src="../../../assets/img/arrow_left/arrow_left_3.png" />
      </div>
    </div>
  </div>
</section>
