<section>
  <div class="maxW1440">
  <h2>About me</h2>

  <div class="textAndImg">
    <div class="text">
      <p>
        I am a Front-end deverloper based in München, Germany. I help designers
        and companies to bring their ideas to real life. Creativity and logical
        thinking are skills that I have developed to connect ideas into quality
        products.
      </p>
      <p>If you think I would be a good match for your projects, contact me!</p>
      <div class="buttonBox">
        <a class="btn"> Let's talk </a>
      </div>
    </div>

    <div class="imgContainer">
      <img src="../../../assets/img/profile_image.png" />
      <div class="hoverFrame"></div>
    </div>
  </div>

  <div class="arrowImgContainer">
    <img #arrowImg class="arrowImg" [src]="currentImage">
  </div>
</div>
</section>
