<section>
  <div class="maxW1440">
    <div class="header">
      <h2>Portfolio</h2>
      <p>
        Explore a selection of my work here - Interact with projects to see my
        skills in action.
      </p>
    </div>
    <app-portfolio-project
      [projectImg]="projects[0].image"
      [projectName]="projects[0].name"
      [projectTechStack]="projects[0].techStack"
      [projectDescription]="projects[0].description"
      [projectGithubUrl]="projects[0].githubUrl"
      [projectLiveTestUrl]="projects[0].liveTestUrl"
      [projectCount]="'01'"
      [projectTotal]="projects.length"
    ></app-portfolio-project>

    <app-portfolio-project-mirrored
      [projectImg]="projects[1].image"
      [projectName]="projects[1].name"
      [projectTechStack]="projects[1].techStack"
      [projectDescription]="projects[1].description"
      [projectGithubUrl]="projects[1].githubUrl"
      [projectLiveTestUrl]="projects[1].liveTestUrl"
      [projectCount]="'02'"
      [projectTotal]="projects.length"
    ></app-portfolio-project-mirrored>

    <img #arrowImgPortfolio class="arrowImgPortfolio" [src]="currentImage" />
  </div>
</section>
