<section>
  <div class="maxW1440">
    <div class="header">
      <h2>Portfolio</h2>
      <p>{{ 'portfolioHeaderTxt' | translate }}</p>
    </div>

    @for (project of projects; track project; let i = $index) {
      @if (i % 2 === 0) {
        <app-portfolio-project
        [project]="projects[i]"
        [projectCount]="'0' + (i + 1)"
        [projectTotal]="projects.length"
      ></app-portfolio-project>
      }
      @if (i % 2 !== 0) {
        <app-portfolio-project-mirrored
        [project]="projects[i]"
        [projectCount]="'0' + (i + 1)"
        [projectTotal]="projects.length"
      ></app-portfolio-project-mirrored>
      }
    }

    <div class="arrowImgContainer">
      <div class="arrowImgBox">
        <img #arrowImgPortfolio src="../../../assets/img/arrow_left/arrow_left_3.png">
      </div>
    </div>
  </div>
</section>
