nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding: 0 100px;
  background-color: #fffcf3;
}

.burgerIcon {
  width: 40px;
  height: 32px;

  &:hover {
    cursor: pointer;
  }
}

.navMenu {
  display: none;
}

.navMenu.active {
  display: block;
}
