<nav>
  <a href="portfolio-page/#"
    ><img src="../../../../assets/img/logo_schwarz_cutted.png" class="logo"
  /></a>
  <div>
    <button
      class="burger-button"
      (click)="toggleMenu()"
      [class.active]="menuOpen"
    >
      <div class="spinner diagonal1" [class.active]="menuOpen"></div>
      <div class="spinner horizontal" [class.active]="menuOpen"></div>
      <div class="spinner diagonal2" [class.active]="menuOpen"></div>
    </button>
  </div>
</nav>

<app-nav-menu class="navmenu" [class.active]="menuOpen" (closeNavMenu)="closeMenu()" [activate]="menuOpen"></app-nav-menu>
