nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding: 0 100px;
  background-color: #fffcf3;
}

.logo {
  width: 66px;
  height: 30px;
}

.burgerIcon {
  width: 40px;
  height: 32px;

  &:hover {
    cursor: pointer;
  }
}

.navMenu {
  display: none;
}

.navMenu.active {
  display: block;
}

@media(max-width: 9920px) {
  nav {
    padding: 0 32px;
  }
}

@media(max-width: 500px) {
  nav {
    padding: 0 16px;
  }

  .burgerIcon {
    width: 30px;
    height: 24px;
  }

  .logo {
    width: 56px;
    height: 26px;
  }
}
