section {
  height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 120px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Syne";
  font-size: 128px;
  font-weight: 800;
  text-align: center;
}

.placeholderAndName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 930px;
}

.placeholder {
  background-color: black;
  height: 3px;
  flex: 1;
}

.name {
  font-family: "Overpass";
  font-size: 48px;
  font-weight: 700;
  margin-left: 16px;
}

.landingPageBtn {
  width: 260px;
  display: none;

  &:hover {
    width: 280px;
  }
}

.mailAndScroll {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: "Overpass";
  font-size: 23px;

  a {
    transform: rotate(-90deg);
    height: 300px;
    transition: 150ms;

    &:hover {
      color: #00bc8f;
    }
  }
}

.arrowAndText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  overflow: hidden;

  span {
    text-align: center;
    background-color: #fffcf3;
  }

  img {
    animation: moveArrow 3s ease infinite;
    z-index: -1;
  }
}

@keyframes moveArrow {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}

@media(max-width: 992px) {
  .landingPageBtn {
    display: flex;
  }

  h1 {
    font-size: 45px;
  }

  .content {
    padding-top: 60px;
  }
}

@media(max-width: 500px) {
  section {
    padding: 0 16px;
  }

  h1 {
    font-size: 32px;
  }

  .name {
    font-size: 15px;
    margin-left: 8px;
  }

  .placeholderAndName {
    width: 240px;
  }

  .mailAndScroll {
    font-size: 14px;

    a {
      height: 170px;
    }
  }

  .landingPageBtn {
    font-size: 15px;
    width: 160px;
    height: 50px;
    
    &:hover {
      width: 180px;
    }
  }

  .arrowAndText img {
    width: 70px;
  }
}