<section>
  <div class="maxW1440 content">
    <app-navbar></app-navbar>

    <header>
      <h1>{{ 'h1' | translate }}</h1>
      <div class="placeholderAndName">
        <div class="placeholder"></div>
        <span class="name colorGreen">Marcel Luwinski</span>
      </div>
    </header>

    <a href="portfolio-page/#contact" class="btn landingPageBtn"
      >{{ 'ATFBtn' | translate }}</a
    >

    <div class="mailAndScroll">
      <a>mail&#64;marcel-luwinski.dev</a>
      <div class="arrowAndText">
        <img src="../../../assets/img/scroll_arrows/scroll_arrow_3.png" />
        <span>{{ 'scrollTxt' | translate }}</span>
      </div>
    </div>
  </div>
</section>
