section {
  height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 120px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Syne";
  font-size: 112px;
  font-weight: 800;
  text-align: center;
}

.placeholderAndName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px;
}

.placeholder {
  background-color: black;
  height: 3px;
  flex: 1;
}

.name {
  font-family: "Overpass";
  font-size: 44px;
  font-weight: 700;
  margin-left: 16px;
}

.landingPageBtn {
  width: 260px;
  display: none;

  &:hover {
    width: 280px;
  }
}

.mailAndScroll {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: "Overpass";
  font-size: 22px;

  a {
    transform: rotate(-90deg);
    height: 300px;
    transition: 150ms;
  }
}

.arrowAndText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  min-width: 108px;

  span {
    text-align: center;
    background-color: #fffcf3;
    width: 80%;
  }

  img {
    animation: moveArrow 3s ease infinite;
    z-index: -1;
    width: 108px;
  }
}

@keyframes moveArrow {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(110%);
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 96px;
  }

  .content {
    padding-top: 60px;
  }

  .name {
    font-size: 36px;
    margin-left: 8px;
  }

  .placeholderAndName {
    width: 680px;
  }
}

@media (max-width: 992px) {
  section {
    padding: 0 32px;
  }

  .maxW1440 {
    padding-bottom: 10vh;
  }

  .landingPageBtn {
    display: flex;
  }

  h1 {
    font-size: 72px;
  }

  .name {
    font-size: 28px;
    margin-left: 8px;
  }

  .placeholderAndName {
    width: 520px;
  }

  .content {
    padding-top: 60px;
  }

  .mailAndScroll {
    font-size: 18px;

    a {
      height: 220px;
    }
  }

  .arrowAndText {
    min-width: 80px;

    img {
      width: 80px;
    }
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 52px;
  }

  .name {
    font-size: 22px;
    margin-left: 8px;
  }

  .placeholderAndName {
    width: 380px;
  }

  .mailAndScroll {
    font-size: 16px;

    a {
      height: 200px;
    }
  }

  .arrowAndText {
    min-width: 70px;

    img {
      width: 70px;
    }
  }

  .landingPageBtn {
    font-size: 16px;
    width: 180px;
    height: 60px;

    &:hover {
      width: 200px;
    }
  }
}

@media (max-width: 500px) {
  section {
    padding: 0 16px;
  }

  h1 {
    font-size: 32px;
  }

  .name {
    font-size: 15px;
    margin-left: 8px;
  }

  .placeholderAndName {
    width: 240px;
  }

  .mailAndScroll {
    font-size: 14px;

    a {
      height: 170px;
    }
  }

  .landingPageBtn {
    font-size: 15px;
    width: 160px;
    height: 50px;

    &:hover {
      width: 180px;
    }
  }

  .arrowAndText {
    min-width: 70px;

    img {
      width: 70px;
    }
  }
}
