section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 120px;
    margin-top: 100px;
    transition: 225ms ease-in-out;
    position: relative;
  
    &:hover {
      .imgContainer {
        filter: grayscale(0);
      }
  
      .hoverFrame {
        border-color: black;
        top: 10px;
        left: -10px;
        right: 10px;
        bottom: -10px;
      }
  
      .projectInfo {
        display: flex;
        animation: slideInfoText 225ms ease-in-out;
        transform: translateX(0);
        opacity: 1;
      }
  
      .circleArrow {
        animation: circleArrow 225ms ease-in-out;
        display: flex;
      }
    }
  }
  
  .imgContainer {
    position: relative;
    width: 45%;
    filter: grayscale(1);
    z-index: 1;
  }
  
  .screenshot {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.1);
  }
  
  .circleArrow {
    position: absolute;
    top: calc(50% - 12px);
    left: 0;
    margin-left: -38px;
    width: 56px !important;
    height: 56px;
    display: none;
    transform: rotate(270deg);
  }
  
  .hoverFrame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid transparent;
    transition: 225ms ease-in-out;
  }
  
  .textContainer {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .projectCount {
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .projectInfo {
    width: 100%;
    flex-direction: column;
    gap: 16px;
    display: none;
    transition: 225ms ease-in-out;
    transform: translateX(120%);
    opacity: 0;
  
    h3 {
      font-size: 45px;
      font-weight: 800;
    }
  
    span {
      font-size: 23px;
    }
  
    p {
      font-size: 16px;
    }
  }

  .btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .btnSecondary {
    margin-right: calc(30% - 100px);
  }

  ///////////////////////////////////// responsive effects ///////////////////////////////////////

  .responsiveImgColorEffect {
    filter: grayscale(0);
  }
  
  .responsiveFrameEffect {
    border-color: black !important;
    top: 10px !important;
    left: -10px !important;
    right: 10px !important;
    bottom: -10px !important;
  }
  
  .slideAnimation {
    animation: slideInfoTextFromAbove 600ms ease-in-out !important;
  }
  
  .responsiveTextSlideEffect {
    display: flex !important;
    transform: translateY(0) !important;
    opacity: 1 !important;
  }
  
  .responsiveCircleArrowEffect {
    animation: circleArrow 600ms ease-in-out;
    display: flex !important;
  }

  //////////////////////////////////////// keyframes /////////////////////////////////////////////
  
  @keyframes slideInfoText {
    from {
      transform: translateX(120%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInfoTextFromAbove {
    0% {
      transform: translateY(-120%);
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes circleArrow {
    from {
      transform: rotate(135deg);
    }
    to {
      transform: rotate(270deg);
    }
  }

  @media(max-width: 1550px) {
    .textContainer {
      align-items: flex-end;
    }
  }

  @media(max-width: 1450px) {
    .projectCount {
      font-size: 40px;
    }
  
    .btn {
      width: 180px;
      height: 60px;
      font-size: 20px;
  
      &:hover {
        width: 200px;
      }
    }
  
    .btnSecondary {
      width: 180px;
      height: 60px;
      font-size: 20px;
  
      &:hover {
        width: 200px;
      }
    }
  }

  @media(max-width: 1350px) {
    .projectInfo {
      gap: 8px;
    }
  }
  
  @media(max-width: 1255px) {
    section {
      gap: 80px;
    }
  
    .projectInfo {
  
      h3 {
        font-size: 40px;
      }
  
      span {
        font-size: 20px;
      }
    }
  }
  
  @media(max-width: 1160px) {
    .imgContainer {
      height: 240px;
    }
  
    .projectCount {
      font-size: 36px;
    }
  
    .btn {
      width: 160px;
      height: 50px;
      font-size: 18px;
  
      &:hover {
        width: 180px;
      }
    }
  
    .btnSecondary {
      width: 160px;
      height: 50px;
      font-size: 18px;
  
      &:hover {
        width: 180px;
      }
    }
  
    .projectInfo {
      gap: 8px;
  
      h3 {
        font-size: 30px;
      }
  
      span {
        font-size: 16px;
      }
  
      p {
        font-size: 14px;
      }
    }
  }
  
  @media(max-width: 1060px) {
    .imgContainer {
      height: 220px;
    }

    .projectInfo {
      h3 {
        font-size: 28px;
      }
    }
  
    .btn {
      width: 140px;
      height: 50px;
      font-size: 16px;
  
      &:hover {
        width: 160px;
      }
    }
  
    .btnSecondary {
      width: 140px;
      height: 50px;
      font-size: 16px;
  
      &:hover {
        width: 160px;
      }
    }
  }
  
  @media(max-width: 992px) {
    section {
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
      margin-top: 40px;
      gap: 64px;
      pointer-events: none;
    }
  
    .imgContainer {
      width: 100%;
      height: auto;
      margin-top: 16px;
    }
  
    .circleArrow {
      width: 46px !important;
      height: 46px;
      left: calc(50% - 20px);
      margin-left: 0;
      top: 100%;
      margin-top: -13px;
    }
  
    .textContainer {
      width: 100%;
    }
  
    .projectInfo {
      display: flex;
      transform: translateY(-120%) translateX(0);
      gap: 16px;
      align-items: flex-end;
      transition: 350ms all;
  
      h3 {
        font-size: 40px;
      }
  
      span {
        font-size: 18px;
      }
  
      p {
        font-size: 16px;
        text-align: right;
      }
    }
  
    .btn {
      width: 160px;
      height: 60px;
      font-size: 18px;
      margin-left: calc(80% - 260px);
  
      &:hover {
        width: 180px;
      }
    }
  
    .btnSecondary {
      width: 160px;
      height: 60px;
      font-size: 18px;
      margin-right: 0;
  
      &:hover {
        width: 180px;
      }
    }
  }
  
  @media (max-width: 500px) {
    .projectCount {
      font-size: 23px;
    }
  
    .circleArrow {
      width: 40px !important;
      height: 40px;
      margin-top: -10px;
    }
  
    .projectInfo {
      display: flex;
      transform: translateY(-120%) translateX(0);
  
      h3 {
        font-size: 32px;
        text-align: right;
      }
  
      span {
        font-size: 16px;
      }
  
      p {
        font-size: 15px;
      }
    }
  
    .btn {
      width: 120px;
      height: 50px;
      font-size: 16px;
      margin-left: calc(80% - 220px);
  
      &:hover {
        width: 140px;
      }
    }
  
    .btnSecondary {
      width: 120px;
      height: 50px;
      font-size: 16px;
  
      &:hover {
        width: 140px;
      }
    }
  }