* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #fffcf3;
}

@font-face {
  font-family: "Syne";
  font-display: swap;
  src: url(./assets/fonts/syne/Syne-VariableFont_wght.ttf) format("woff2");
}

@font-face {
  font-family: "Overpass";
  font-display: swap;
  src: url(./assets/fonts/overpass/Overpass-VariableFont_wght.ttf)
    format("woff2");
}

.fontSyne {
  font-family: "Syne";
}

.fontOverpass {
  font-family: "Overpass";
}

.colorGreen {
  color: #00bc8f;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 78px;
  font-weight: 800;
  margin-bottom: 40px;
  font-family: "Syne";
  transition: 125ms;

  &:hover {
    color: #00bc8f;
    cursor: default;
  }
}

p {
  font-family: "Overpass";
  font-size: 23px;
}

.btn {
  text-align: center;
  border: solid 4px black;
  padding: 20px 60px;
  font-family: "Overpass";
  font-size: 23px;
  cursor: pointer;
  transition: 100ms;
  width: fit-content;

  &:hover {
    font-weight: 700;
    padding: 20px 80px;
  }

  &:active {
    background-color: black;
    color: #fffcf3;
  }
}

.maxW1440 {
  max-width: 1440px;
  width: 100%;
}

