* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #fffcf3;
  overflow-x: hidden;
}

@font-face {
  font-family: "Syne";
  font-display: swap;
  src: url(./assets/fonts/syne/Syne-VariableFont_wght.ttf) format("woff2");
}

@font-face {
  font-family: "Overpass";
  font-display: swap;
  src: url(./assets/fonts/overpass/Overpass-VariableFont_wght.ttf)
    format("woff2");
}

.fontSyne {
  font-family: "Syne";
}

.fontOverpass {
  font-family: "Overpass";
}

.colorGreen {
  color: #00bc8f;
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 78px;
  font-weight: 800;
  margin-bottom: 40px;
  font-family: "Syne";
  transition: 125ms;

  &:hover {
    color: #00bc8f;
    cursor: default;
  }
}

p {
  font-family: "Overpass";
  font-size: 23px;
}

.btn {
  text-align: center;
  border: solid 4px black;
  font-family: "Overpass";
  font-size: 23px;
  cursor: pointer;
  transition: 100ms;
  width: 200px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;

  &:hover {
    font-weight: 700;
    width: 240px;
  }

  &:active {
    background-color: black;
    color: #fffcf3;
  }
}

.btnSecondary {
  text-align: center;
  border: solid 4px #00bc8f;
  color: #fffcf3;
  background-color: #00bc8f;
  font-family: "Overpass";
  font-size: 23px;
  cursor: pointer;
  transition: 100ms;
  width: 200px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: all;

  &:hover {
    font-weight: 700;
    width: 240px;
  }

  &:active {
    background-color: #fffcf3;
    color: black;
  }
}

.maxW1440 {
  max-width: 1440px;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  background: #fffcf3;
}

::-webkit-scrollbar-thumb {
  background: #5555557c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00bc8f;
}

@media(max-width: 992px) {
  p {
    font-size: 20px;
  }

  h2 {
    font-size: 68px;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

@media(max-width: 700px) {
  p {
    font-size: 18px;
  }

  h2 {
    font-size: 50px;
  }
}

@media (max-width: 500px) {
  p {
    font-size: 15px;
  }
}
