section {
  background-image: url("../../../../assets/img/black_shape_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 100px 100px 100px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #fffcf3;
  width: fit-content;

  &:hover {
    color: #00bc8f;
  }
}
