<section id="contact">
  <div class="maxW1440">
    <h2>Say Hi!</h2>
  </div>

  <app-contact-form></app-contact-form>

  <div class="legalAndSocial">
    <div class="leftSide">
      <div class="logoAndCopyright">
        <a href="#"><img src="../../../../assets/img/logo_weiss_cutted.png" /></a>
        <span class="fontOverpass">&#169; Marcel Luwinski 2024</span>
      </div>
    </div>

    <div class="rightSide">
      <a class="arrowUp" href="#"
        ><img src="../../../../assets/img/arrow_up.png"
      /></a>

      <div class="socialLinks">
        <a target="_blank" href="https://github.com/Kytez"
          ><img src="../../../../assets/img/icons/social/github.png"
        /></a>
        <a target="_blank" href="https://linkedin.com/in/marcel-luwinski-98874b253"
          ><img src="../../../../assets/img/icons/social/linkedin.png"
        /></a>
        <a target="_blank" href="mailto:marcel.luwinski@gmail.com"
          ><img src="../../../../assets/img/icons/social/mail_icon.png"
        /></a>
      </div>

      <a class="privacyLink fontOverpass" href="privacy-policy">Privacy policy</a>
    </div>
  </div>
</section>
