section {
  background-image: url("../../../../assets/img/black_shape_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 100px 100px 100px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #fffcf3;
  width: fit-content;

  &:hover {
    color: #00bc8f;
  }
}

.legalAndSocial {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.leftSide {
  display: flex;
  align-items: flex-end;
}

.logoAndCopyright {
  display: flex;
  flex-direction: column;
  gap: 16px;

  img {
    height: 30px;
    width: 66px;
  }

  span {
    color: #fffcf3;
    font-size: 16px;
  }
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;
}

.arrowUp {
  margin-top: -64px;
  margin-bottom: 64px;

  &:hover {
    animation: bounceUp 1s ease-in-out infinite;
  }
}

.socialLinks {
  display: flex;
  gap: 64px;

  a {
    transition: 125ms ease-in-out;

    &:hover {
      transform: translateY(-16px);
    }
  }
}

.privacyLink {
  color: #fffcf3;
  font-weight: 300;
  transition: 125ms;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 8px;

  &:hover {
    font-weight: 700;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    width: 60%;
    height: 2px;
    background: #00bc8f;
    transition: all 225ms ease-in-out;
    opacity: 0;
  }

  &:hover::before {
    right: 0;
    transition: all 225ms ease-in-out;
    opacity: 1;
  }
}

@keyframes bounceUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-32px);
  }
  100% {
    transform: translateY(0);
  }
}

@media(max-width: 992px) {
  section {
    margin-top: 0;
  }

  .arrowUp {
    display: none;
  }

  .leftSide {
    justify-content: center;
  }

  .rightSide {
    align-items: center;
    gap: 32px;
  }

  .legalAndSocial {
    margin-top: 48px;
    flex-direction: column;
    gap: 32px;
  }

  .logoAndCopyright {
    span {
      display: none;
    }
  }
}

@media(max-width: 700px) {
  section {
    padding: 100px 16px 50px 16px;
  }
}

@media(max-width: 500px) {
  section {
    padding: 80px 16px 50px 16px;
  }

  h2 {
    font-size: 40px;
  }
}

@media (min-width: 3000px) {
  section {
    padding: 300px 100px 64px 100px;
  }
}