<section>
  <div class="maxW1440 skillBoxContainer">
    <h2>{{ 'HLSkills' | translate }}</h2>
    <div class="skillBox">
      <div class="iconAndText">
        <img src="../../../assets/img/icons/skills/icon_angular.png" />
        <span>Angular</span>
      </div>
      <div class="iconAndText">
        <img src="../../../assets/img/icons/skills/icon_ts.png" />
        <span>TypeScript</span>
      </div>
      <div class="iconAndText">
        <img src="../../../assets/img/icons/skills/icon_js.png" />
        <span>JavaScript</span>
      </div>
      <div class="iconAndText">
        <img src="../../../assets/img/icons/skills/icon_html.png" />
        <span>HTML</span>
      </div>
      <div class="iconAndText">
        <img src="../../../assets/img/icons/skills/icon_css.png" />
        <span>CSS</span>
      </div>
      <div class="iconAndText">
        <img src="../../../assets/img/icons/skills/icon_firebase.png" />
        <span>Firebase</span>
      </div>
      <div class="iconAndText">
        <img src="../../../assets/img/icons/skills/icon_git.png" />
        <span>Git</span>
      </div>
      <div class="iconAndText">
        <img src="../../../assets/img/icons/skills/icon_scrum.png" />
        <span>Scrum</span>
      </div>
      <div class="iconAndText">
        <img src="../../../assets/img/icons/skills/icon_api.png" />
        <span>Rest-API</span>
      </div>
      <div class="iconAndText">
        <img src="../../../assets/img/icons/skills/icon_material.png" />
        <span>Material<br />Design</span>
      </div>
    </div>

    <div class="arrowImgContainer">
      <div class="arrowImgBox">
        <img #arrowImageSkills src="../../../assets/img/arrow_right/arrow_right_3.png">
      </div>
    </div>
  </div>
</section>
