section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 700px;
  color: #fffcf3;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  margin-top: 32px;
}

.placeholder {
  position: absolute;
  background-color: black;
  width: fit-content;
  padding: 0 8px;
  top: -10px;
  left: 8px;
}

.inputField {
  width: 600px;
  border: 0;
  border-bottom: 2px solid #fffcf3;
  background-color: black;
  padding: 15px 25px;
  outline: none;
  color: #fffcf3;
  font-family: "Overpass";
  font-size: 16px;
  font-weight: 300;

  &:hover {
    outline: 4px solid #fffcf3;
    border-bottom-color: black;
    cursor: pointer;
  }

  &:focus {
    outline: 2px solid #fffcf3;
    border-bottom-color: black;
  }

  &::placeholder {
    font-family: "Overpass";
    color: #fffcf3;
    font-size: 16px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  box-shadow: 0 0 0 30px black inset !important;
  -webkit-box-shadow: 0 0 0 30px black inset !important;
  color: #fffcf3 !important;
  -webkit-text-fill-color: #fffcf3 !important;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.invalidMessage {
  color: #E61C40;
  font-size: 12px;
  font-weight: 800;
}

.checkboxAndText {
  display: flex;
  align-items: center;
  gap: 8px;
}

.customCheckbox {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url('../../../../../assets/img/icons/checkbox/checkbox_unchecked.png');
  background-size: cover;
  cursor: pointer;
}

.customCheckboxChecked {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url('../../../../../assets/img/icons/checkbox/checkbox_checked.png');
  background-size: cover;
  cursor: pointer;
}

.btnForm.disabled {
  text-align: center;
  border: solid 4px rgb(100, 100, 100);
  padding: 20px 60px;
  font-family: "Overpass";
  font-size: 23px;
  transition: 100ms;
  width: fit-content;
  color: rgb(100, 100, 100);
  background-color: black;
  margin-top: 32px;
}

.btnForm.enabled {
  text-align: center;
  border: solid 4px #fffcf3;
  padding: 20px 60px;
  font-family: "Overpass";
  font-size: 23px;
  cursor: pointer;
  transition: 100ms;
  width: fit-content;
  color: #fffcf3;
  background-color: black;
  margin-top: 32px;

  &:hover {
    font-weight: 700;
    padding: 20px 80px;
  }

  &:active {
    background-color: #fffcf3;
    color: black;
  }
}

.fontS32W700 {
  font-size: 32px;
  font-weight: 700;
}

.fontS23 {
  font-size: 23px;
}

@media(max-width: 700px) {
  section {
    width: 100vw;
    padding: 0 32px;
  }

  .fontS32W700 {
    text-align: center;
  }

  .fontS23 {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
  }

  .inputContainer {
    width: 100%;
  }

  .inputField {
    width: 100%;
  }

  .checkboxAndText {
    padding: 0 8px;
  
    span {
      margin-left: 8px;
      font-weight: 300;
      font-size: 14px;
    }
  }
  
  .customCheckbox {
    padding-right: 16px;
  }
  
  .customCheckboxChecked {
    padding-right: 16px;
  }

  .btnForm.disabled {
    height: 60px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 20px;
  }

  .btnForm.enabled {
    height: 60px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 20px;

    &:hover {
      font-weight: 700;
      width: 200px;
      padding: 0;
    }
  }
}

@media(max-width: 500px) {
  section {
    padding: 0 16px;
  }

  .fontS32W700 {
    font-size: 23px;
  }

  .fontS23 {
    font-size: 18px;
  }
}
