<section class="fontOverpass">
  <span class="colorGreen fontS32W700 txtCenter">{{ 'contactFormHL' | translate }}</span>
  <span class="fontS23 txtCenter">{{ 'contactFormSubHL' | translate }}</span>

  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="inputContainer">
      @if (nameIsFocused) {
        <label class="placeholder">{{ 'placeholderName' | translate }}</label>
      }
      <input
        #name="ngModel"
        class="inputField"
        type="text"
        id="name"
        name="name"
        [placeholder]="!nameIsFocused && this.translateService.currentLang === 'en' ? placeholderNameEN : !nameIsFocused && this.translateService.currentLang === 'de' ? placeholderNameDE : ''"
        (focus)="nameOnFocus()" 
        (blur)="nameOnBlur()"
        spellcheck="false"
        required
        minlength="2"
        maxlength="50"
        [(ngModel)]="contactData.name"
      />
      @if (!name.valid && name.touched) {
      <span class="invalidMessage">{{ 'invalidName' | translate }}</span>
      }
    </div>

    <div class="inputContainer">
      @if (emailIsFocused) {
        <label class="placeholder">{{ 'placeholderEmail' | translate }}</label>
      }
      <input
        #email="ngModel"
        class="inputField"
        type="email"
        id="email"
        name="email"
        [placeholder]="!emailIsFocused && this.translateService.currentLang === 'en' ? placeholderEmailEN : !emailIsFocused && this.translateService.currentLang === 'de' ? placeholderEmailDE : ''"
        (focus)="emailOnFocus()" 
        (blur)="emailOnBlur()"
        spellcheck="false"
        required
        maxlength="50"
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        [(ngModel)]="contactData.email"
      />
      @if (!email.valid && email.touched) {
      <span class="invalidMessage">{{ 'invalidEmail' | translate }}</span>
      }
    </div>

    <div class="inputContainer">
      @if (messageIsFocused) {
        <label class="placeholder">{{ 'placeholderMsg' | translate }}</label>
      }
      <textarea
        #message="ngModel"
        class="inputField"
        id="message"
        name="message"
        [placeholder]="!messageIsFocused && this.translateService.currentLang === 'en' ? placeholderMessageEN : !messageIsFocused && this.translateService.currentLang === 'de' ? placeholderMessageDE : ''"
        (focus)="messageOnFocus()" 
        (blur)="messageOnBlur()"
        spellcheck="false"
        required
        minlength="10"
        maxlength="800"
        style="height: 200px"
        [(ngModel)]="contactData.message"
      ></textarea>
      @if (!message.valid && message.touched) {
      <span class="invalidMessage">{{ 'invalidMsg' | translate }}</span>
      }
    </div>

    <div class="inputContainer">
      <div class="checkboxAndText">
        <div [ngClass]="{'customCheckboxChecked': contactData.privacyPolicy, 'customCheckbox': !contactData.privacyPolicy}" (click)="toggleCheckbox()"></div>
        <input
          #checkbox="ngModel"
          id="privacyPolicy"
          name="privacyPolicy"
          class="checkbox"
          [(ngModel)]="contactData.privacyPolicy"
          [checked]="contactData.privacyPolicy"
          required
          type="checkbox"
          hidden
        />
        @if (this.translateService.currentLang === 'en') {
        <span>I've read the <a class="colorGreen" href="portfolio-page/privacy-policy">privacy policy</a> and
          agree to the processing of my data as outlined.</span>
        } @else {
          <span>Ich habe die <a class="colorGreen" href="portfolio-page/privacy-policy">Datenschutzvereinbarung</a> gelesen und stimme der Verarbeitung wie angegeben zu.</span>
        }
      </div>
      @if (!checkbox.valid && message.valid && name.valid && email.valid) {
      <span class="invalidMessage">{{ 'invalidCheckbox' | translate }}</span>
      }
    </div>

    <input
      [disabled]="contactForm.invalid"
      class="btnForm"
      [ngClass]="{ disabled: contactForm.invalid, enabled: contactForm.valid }"
      type="submit"
      [value]="this.translateService.currentLang === 'en' ? 'Send message' : 'Abschicken'"
    />
  </form>
  <div #feedbackMsg class="feedbackMsg">
    <span class="fontOverpass">{{ 'feedbackMsg' | translate }}</span>
  </div>
</section>
